<template>
  <q-page padding>
    <div class="q-pa-md">
      <q-badge color="secondary" multi-line>
        Model: "{{ model }}"
      </q-badge>
      <div class="q-gutter-md">
        <q-select v-model="model" :options="daml.userOptions" label="User" @update:model-value="updateJwt()" />
      </div>
      <q-badge color="secondary" multi-line>
        JWT: "{{ daml.jwt }}"
      </q-badge>
      <q-table
        title="Contracts"
        :rows="contracts"
        row-key="contractId"
        :filter="filter"
      >
      <template v-slot:top-right>
        <q-input borderless dense debounce="300" v-model="filter" placeholder="Search">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
      
      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th auto-width />
          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            {{ col.label }}
          </q-th>
        </q-tr>
      </template>

      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td auto-width>
            <q-btn size="sm" color="accent" round dense @click="props.expand = !props.expand" :icon="props.expand ? 'remove' : 'add'" />
          </q-td>
          <q-td
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            {{ col.value }}
          </q-td>
        </q-tr>
        <q-tr v-show="props.expand" :props="props">
          <q-td colspan="100%">
            <div class="text-left text-bold">Contract ID:</div>
            <div class="text-left">{{ props.row.contractId }}</div>
            <div class="text-left text-bold">Template ID:</div>
            <div class="text-left">{{ props.row.templateId }}</div>
            <div class="text-left text-bold">Signatories:</div>
            <div class="text-left">{{ props.row.signatories }}</div>
            <div class="text-left text-bold">Payload:</div>
            <div class="text-left">{{ props.row.payload }}</div>
            <div class="q-pa-md q-gutter-sm">
              <q-btn color="deep-orange" label="Archive" @click="archiveContract(props.row.contractId, props.row.templateId)" />
            </div>
          </q-td>
        </q-tr>
      </template>
      </q-table>
    </div>
  </q-page>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import { useDamlStore } from '../stores/example-store';
import { UserOption } from '../types/daml-type';

export default defineComponent({
  name: 'IndexPage',
  setup() {
    const daml = useDamlStore();
    let model = ref({
      value: '',
      label: ''
    } as UserOption);
    let contracts = ref([] as any[]);
    daml.getUsers();

    const updateJwt = async () => {
      await daml.updateJwt(model.value.value);
      await updateContracts();
    }

    const updateContracts = async () => {
      contracts.value = [];
      let result = await daml.queryAllContracts();
      result.forEach((contract: any) => {
        let obj = {
          templateId: contract.templateId,
          contractId: contract.contractId,
          signatories: contract.signatories.toString(),
          payload: JSON.stringify(contract.payload)
        };
        contracts.value.push(obj);
      });
    }

    const archiveContract = async (contractId: string, templateId: string) => {
      console.log(contractId);
      await daml.archiveContract(contractId, templateId);
      await updateContracts();
    }

    return {
      daml,
      model,
      updateJwt,
      contracts,
      archiveContract,
      filter: ref(''),
    };
  }
});
</script>
