
<template>
  <div class="q-pa-md">
    <q-table
      title="Users"
      :rows="daml.users"
      row-key="name"
    />

    <div class="text-h5 q-mt-lg">Create User</div>
    <div class="q-pt-md" style="max-width: 400px">
      <q-form
        @submit="onSubmit"
        class="q-gutter-md"
      >
        <q-input
          filled
          v-model="displayName"
          label="displayName"
          hint="displayName"
          lazy-rules
          :rules="[ val => val && val.length > 0 || 'Please type something']"
        />
        <div>
          <q-btn label="Submit" type="submit" color="primary"/>
        </div>
      </q-form>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import { useDamlStore } from '../stores/example-store';



export default defineComponent({
  name: 'IndexPage',
  setup() {
    const daml = useDamlStore();
    daml.getUsers();
    console.log(daml.users);

    const displayName = ref('');

    const onSubmit = () => {
      daml.createUser(displayName.value);
    }

    return {
      daml,
      displayName,
      onSubmit
    };
  }
});

</script>
