<template>
  <q-page padding>
    <div class="q-gutter-md row">

      <div class="q-gutter-md col">
        <q-select v-model="model" label="Sender" :options="daml.userOptions" @update:model-value="updateJwt()" />
      </div>

      <div class="q-gutter-md col">
        <q-select v-model="receiver" label="Receiver" :options="daml.userOptions" @update:model-value="updateContracts()" />
      </div>
    </div>


    <div class="q-pa-md row justify-center">

        <div style="width: 100%; max-width: 600px">
          <q-card class="my-card q-pa-md">
            <div style="width: 100%;">
              <q-chat-message
                :key="key"
                v-for="(message, key) in messages"
                :name="message.sender"
                :text="[message.content]"
                :sent="message.sender == model.label ? false : true"
                :stamp="message.timestamp"
              />
            </div>
          </q-card>
        </div>


  </div>
  </q-page>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import { useDamlStore } from '../stores/example-store';
import { UserOption } from '../types/daml-type';

type Message = {
  sender: string;
  receiver: string;
  content: string;
  timestamp: string;
}

export default defineComponent({
  name: 'IndexPage',
  setup() {
    const daml = useDamlStore();
    let model = ref({
      value: '',
      label: ''
    } as UserOption);
    let receiver = ref({
      value: '',
      label: ''
    } as UserOption);

    let messages = ref([] as Message[]);

    daml.getUsers();

    const updateJwt = async () => {
      await daml.updateJwt(model.value.value);
      await updateContracts();
    }

    const calTimePass = (time: number) => {
      let now = new Date().getTime();
      let diff = now - time;
      let seconds = Math.floor(diff / 1000);
      let minutes = Math.floor(seconds / 60);
      let hours = Math.floor(minutes / 60);
      let days = Math.floor(hours / 24);
      let months = Math.floor(days / 30);
      let years = Math.floor(months / 12);
      if (years > 0) {
        return years + ' years ago';
      } else if (months > 0) {
        return months + ' months ago';
      } else if (days > 0) {
        return days + ' days ago';
      } else if (hours > 0) {
        return hours + ' hours ago';
      } else if (minutes > 0) {
        return minutes + ' minutes ago';
      } else if (seconds > 0) {
        return seconds + ' seconds ago';
      } else {
        return 'just now';
      }
    }

    const updateContracts = async () => {

      if (model.value.value && receiver.value.value) {

        let query = {
          templateIds: ['User:Message'],
          query: {
            sender: model.value.value,
            receiver: receiver.value.value
          }
        };
        
        let senderResult = await daml.queryContracts(JSON.stringify(query));


        query = {
          templateIds: ['User:Message'],
          query: {
            sender: receiver.value.value,
            receiver: model.value.value
          }
        };

        let receiverResult = await daml.queryContracts(JSON.stringify(query));

        messages.value = [] as Message[];

        senderResult.concat(receiverResult).sort((a: any, b: any) => {
          return a.payload.time.localeCompare(b.payload.time);
        }).forEach((contract: any) => {
          let obj = {
            sender: contract.payload.sender === model.value.value ? model.value.label : receiver.value.label,
            receiver: contract.payload.receiver === model.value.value ? model.value.label : receiver.value.label,
            content: contract.payload.content,
            timestamp: calTimePass(new Date(contract.payload.time).getTime())
          };
          messages.value.push(obj);
        });

        console.log(messages);

      }
      else {
        console.log('No sender or receiver selected');
      }
      
    }


    return {
      daml,
      model,
      updateJwt,
      updateContracts,
      receiver,
      messages
    };
  }
});
</script>
