<template>
  <q-page padding>
    <q-table
      grid
      title="Votes"
      :rows="voteList"
      row-key="user"
      hide-header
    >

      <template v-slot:item="props">
        <div class="q-pa-xs col-xs-12 col-sm-6 col-md-4">
          <q-card>
            <q-card-section class="text-center">
              Votes for
              <br>
              <strong>{{ props.row.user }}</strong>
            </q-card-section>
            <q-separator />
            <q-card-section class="flex flex-center text-h1">
              <div>{{ props.row.votes }}</div>
            </q-card-section>
          </q-card>
        </div>
      </template>
    </q-table>
  </q-page>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import { useDamlStore } from '../stores/example-store';

type Vote = {
  user: string;
  votes: number;
}

export default defineComponent({
  name: 'IndexPage',
  setup() {
    const daml = useDamlStore();
    let votes = ref(new Map() as Map<string, number>);
    let voteList = ref([] as Vote[]);

    const getVotes = async () => {
      await daml.getUsers();
      daml.users.forEach((user) => {
        votes.value.set(user.userId as string, 0);
      });
      await daml.updateJwt(daml.getPublicUser.primaryParty);
      const rawJson = {
          'templateIds': ['User:VotingTicket'],
          'query': {}
      };
      const result = await daml.queryContracts(JSON.stringify(rawJson));
      result.forEach((contract: any) => {

        const userId = daml.users.find((user) => user.primaryParty === contract.payload.voteto)?.userId;

        votes.value.set(userId as string, votes.value.get(userId as string) || 0 + 1);
      });

      voteList.value = Array.from(votes.value).map(([user, votes]) => ({ user, votes }));
      console.log(voteList.value)
    }

    getVotes();



    return {
      voteList
    };
  }
});
</script>
