<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>

      <q-toolbar>
        <q-btn dense flat round icon="menu" @click="left = !left" />

        <q-toolbar-title>
          Daml Explorer
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer show-if-above v-model="left" side="left" bordered>
      <!-- drawer content -->
        <q-scroll-area class="fit">
          <q-list padding class="menu-list">
            <q-item clickable v-ripple @click="$router.replace('/')">
            
              <q-item-section avatar>
                <q-icon name="people" />
              </q-item-section>

              <q-item-section>
                Users
              </q-item-section>
            </q-item>

            <q-item clickable v-ripple @click="$router.replace('/contract')">
              <q-item-section avatar>
                <q-icon name="article" />
              </q-item-section>

              <q-item-section>
                Contracts
              </q-item-section>
            </q-item>

            <q-item clickable v-ripple @click="$router.replace('/message')">
              <q-item-section avatar>
                <q-icon name="question_answer" />
              </q-item-section>

              <q-item-section>
                Messages
              </q-item-section>
            </q-item>

            <q-item clickable v-ripple @click="$router.replace('/vote')">
              <q-item-section avatar>
                <q-icon name="how_to_vote" />
              </q-item-section>

              <q-item-section>
                Votes
              </q-item-section>
            </q-item>

          </q-list>
        </q-scroll-area>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
export default {
  data () {
    return {
      left: false
    }
  }
}
</script>
